<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983268936596-65k0in237kuet1hq3163e9dnqs4bqe3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983268936596-65k0in237kuet1hq3163e9dnqs4bqe3b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>983268936596-96ne1aunvjltmv43ebg7ruckgk8h9ala.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhe-g0VxGhve3fU4LG2bR_ZEFBiE6AE8o</string>
	<key>GCM_SENDER_ID</key>
	<string>983268936596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donieldesign.ChaleeTaskeee</string>
	<key>PROJECT_ID</key>
	<string>catchup-d934c</string>
	<key>STORAGE_BUCKET</key>
	<string>catchup-d934c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983268936596:ios:aafc7cae3b3d4699cfdd81</string>
	<key>DATABASE_URL</key>
	<string>https://catchup-d934c.firebaseio.com</string>
</dict>
</plist>